<!DOCTYPE html>

<html>
  <head>
    <title>Javelin Game Launcher</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="RootDiv">
    	<div id="Spacer" style="height:32px"></div>
    	<div id="StatusBar">
    		<div id="DartStatus">Dart is not running</div>
    		<div id="DemoPicker"></div>
    	</div>
    	<div id="MainView">
    		<canvas id="webGLFrontBuffer"></canvas>
		</div>
    </div>
	<script type="application/dart" src="clicker/clicker.dart"></script>
    <script src="../vendor/dart.js"></script>
  </body>
</html>
